
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
  }
 .navbar{
  margin-left: -50px;
 }
  .navbar a {
    color: #334854;
    text-decoration: none;
    font-weight: bold;
  }
.logo{
    margin-left: 50px;
}

.logo canvas {
  width: 200px;
  height: 200px;
  margin-bottom: 20%;    
}
  
  .navbar ul {
    list-style: none;
    display: flex;
  }
  
  .navbar li {
    margin: 0 25px;
  }
  
  .auth-buttons {
    margin-right: 50px;
    display: flex;
    gap: 10px; 
  }
  
  .login-button{
    background-color: #334854;
    color: #ffff;
    border: none;
    border-radius: 20px;
    font-size: 13px;
    width: 70px;
    padding: 6px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;

  }

  .logout-button {
    background-color: #D52941; 
    color: #ffff;
    border: none;
    border-radius: 20px;
    padding: 6px;
    width: 70px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
  
  }

/*multilanguage buttons*/
.auth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.auth-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}


.language-switch {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 13px;
}


.language-switch span {
  color: #444;
  transition: color 0.3s;
}

.language-switch span.active {
  color: #007bff; 
}


.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #5382b3; 
}

input:checked + .slider:before {
  transform: translateX(20px);
}
