.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .main-div{
    background-color: white;
    padding: 20px;
    width: 800px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #stateName{
    width: 500px;
  }
  
  .btn{
    border-radius: 10px;
    width: 100%;
  }
  .error-message{
    font-weight: bold;
    margin-top: 10px;
  }