<div class="welcome">
  <h2>{{ "WELCOME_TO_OUR_PLATFORM" | translate }}</h2>
  <p>
    {{ "ABOUT_US_TEXT" | translate }}
  </p>
</div>
<div class="mainDiv">
  <div class="section whoWeAre">
    <h2>{{ "WHO_WE_ARE" | translate }}</h2>
    <p>
      {{ "WHO_WE_ARE_TEXT" | translate }}
    </p>
  </div>

  <div class="section whatWeDo">
    <h2>{{ "WHAT_WE_DO" | translate }}</h2>
    <p>
      {{ "WHAT_WE_DO_TEXT" | translate }}
    </p>
  </div>

  <div class="section whyWeAreHere">
    <h2>{{ "WHY_WE_ARE_HERE" | translate }}</h2>

    <p>
      {{ "WHY_WE_ARE_HERE_TEXT" | translate }}
    </p>
  </div>

  <div class="section howToJoin">
    <h2>{{ "HOW_TO_JOIN" | translate }}</h2>

    <p>
      {{ "HOW_TO_JOIN_TEXT" | translate }}
    </p>
  </div>
</div>
